/*-------------------------*\
            PLANS
\*-------------------------*/

.plan{
  border: 1px solid #b798ab;
  padding: 10px;
  border-radius: 4px;

  font-size: 1.4rem;
}

.plan-header {
  margin: -10px;
  margin-bottom: 0;

  background-color: #823f67;
  color: #fff;

  text-align: center;
  font-weight: normal;
  font-size: 2em; /*Is Double of font size class plan*/
  line-height: 2.5;
}

.plan-subheader{
  margin: 20px 0; /*Top - Bottom of 20px, and Left - Right 0 */

  text-align: center;
  font-size: 2em;
}

.plan-features {
  padding: 0;
  margin: 20px 0;

  font-size: 1em;

  list-style: none;
}

.plan-features > li{
  text-align: center;
}

.plan-footer{
  text-align: center;
}

/*-------------------------*\
            BUTTON
\*-------------------------*/

.btn {
  display: inline-block;
  padding: 0.8em 1.2em;

  background-color: #bbb;
  color: #fff;

  text-decoration: none;
  border-radius: 4px;
}

.btn:hover , .btn:focus{
  background-color: #aaa;
  color: #fff;

  text-decoration: none;
  border-radius: 4px;
}

.btn-more{
  background-color: #b12b69;
}

.btn-more:hover, .btn-more:focus{
  background-color: #a90c54;
}

.btn-primary{
  background-color: #2b3394;
}

.btn-primary:hover , .btn-primary:focus{
  background-color: #003b66;
}

/*-------------------------*\
            BANNER
\*-------------------------*/

.banner{
  font-size: 1.6rem;
  text-align: center;
}

.banner-title{
  margin: 0;

  color: #fff;

  font-size: 3.375em;
  font-weight: lighter;
  line-height: 0.9em;
  text-shadow: 1px 1px #313131;
}

.banner-subtitle{
  margin: 60px 0;
  color: #fff;
}

.banner-action{
  font-size: 1em;
}

@media(min-width:992px){
  .banner{
    padding-left: 10%;
    padding-right: 10%;

    font-size: 2.2rem;
  }
}

/*-------------------------*\
            TESTIMONIAL
\*-------------------------*/
.testimonial{
  font-size: 2.2rem;
}

@media(min-width:992px){
  .testimonial{
    padding-left: 10%;
    padding-right: 10%;

    font-size: 2.8rem;
  }
}

.testimonial > blockquote{
  margin: 0;
  padding: 0 60px;

  text-align: center;
  font-size: 1em;
}

.testimonial-author{
  margin-top: 40px;
  text-align: center;
  font-size: .90em;
}

.testimonial-author > img{
  border-radius: 50%;
}

.testimonial-author > p{
  margin-top: 10px;
}
