.layout-header{
  height: 70px;
  border-bottom: 1px solid #f7caca;
  background-color: #fff;
}

.layout-header img{
  margin-top: 12px;
}

.layout-header-fixed{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.layout-plans{
  padding: 80px 0; /*Top - Bottom of 20px, and Left - Right 0 */
}

.layout-banner{
  padding: 80px 0;
  margin-top: 70px;

  background-color: #cc6e9d;
  background-image: url(../images/married.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.layout-testimonial{
  padding: 80px 0;
  background-color: #e7e7e7;
}

.layout-footer{
  padding: 60px 0;

  background-color: #613058;

  color: #fff;
  text-align: center;
}
